################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmsAndProblemSolving/Level3/C7_1/C7_1.sln
/AlgorithmsAndProblemSolving/Level3/C7_1/C7_1.sln
